* {
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
}

.bar {
  height: 30px;
}

.bar ul li {
  display: inline;
}

.nav-wrapper {
  color: red;
}

.center-cropped {
  object-fit: cover; /* Do not scale the image */
  object-position: center; /* Center the image within the element */
  height: 200px;
  width: 200px;
}

.row {
    margin-left: 5% !important;
    margin-right: 5% !important;
}

.card {
  box-shadow: none;
  -webkit-filter: grayscale(20%); /* Safari 6.0 - 9.0 */
  filter: grayscale(30%);
  background: radial-gradient(circle at 0% 180%, #03a9f4 50%, white 50%);
  background-size: 350% 100%;
  background-position: right top;
  margin-left:10px;
  transition:all .4s ease;
}

.card:hover {
  background-position: left bottom;
  box-shadow: 0 8px 8px rgba(0,0,0,0.25), 0 2px 2px rgba(0,0,0,0.22);
}


.card:hover p{
  color: white ;
}

.card-title {
  border: none;
}

.card-body {
  margin-top: 0;
  border: 1px solid #eeeeee;
  border-top: none;
  color: red !important;
}

.card-title {
  text-align: center;
  color: #424242;
}
